%%%===================================================================
%%% ErlGate - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, ChannelPassword, DispatcherModule, DispatcherOptions, TransportSpec}
            {9100, "pass-for-ssl-9100", erlgate_test_dispatcher, [], {ssl, [
                {certfile, "../../fixtures/channel-in.crt"},
                {keyfile, "../../fixtures/channel-in.key"}
            ]}}
        ]}
    
    ]}

].
