%%%===================================================================
%%% ErlGate SLAVE - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
    
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ConnectionNum, TransportSpec}
            {node_ssl, "localhost", 9100, 1, {ssl, []}}
        ]}
        
    ]}

].
