%%%===================================================================
%%% ErlGate SLAVE - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, DispatcherModule}
            {8900, erlgate_test_dispatcher, []},
            {8901, erlgate_test_dispatcher_2, []},
            {8902, erlgate_test_dispatcher, [with_options]},
            {8999, erlgate_test_dispatcher, [raise_error]}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, RemotePort, ConnectionNum}
            {node_3, "localhost", 8950, 1},
            {node_4, "localhost", 8951, 1}
        ]}
    
    ]}

].
