%%%===================================================================
%%% ErlGate SLAVE - TEST CONFIGURATION FILE
%%%===================================================================

[

%% ErlGate config
    {erlgate, [
        
        %% dispatcher
        {dispatcher_module, erlgate_test_dispatcher},
        
        %% ----- Listeners
        %% port
        {port, 8990},
        
        %% ----- Connectors
        {remote_clusters, [
            %% {cluster_id, servers}
            {cluster_1, [
                %% {Host, Port, # of connections}
                {"localhost", 8989, 1}
            ]}
        ]}
    
    ]}

].
