%%%===================================================================
%%% ErlGate SLAVE - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ChannelPassword, ConnectionNum, TransportSpec}
            {node_ssl, "localhost", 9100, "pass-for-ssl-9100", 1, {ssl, []}}
        ]}
    
    ]}

].
