%%%===================================================================
%%% ErlGate SLAVE - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, DispatcherModule, DispatcherOptions, TransportSpec}
            {8900, erlgate_test_dispatcher, [], tcp},
            {8901, erlgate_test_dispatcher_2, [], tcp},
            {8902, erlgate_test_dispatcher, [with_options], tcp},
            {8999, erlgate_test_dispatcher, [raise_error], tcp}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ConnectionNum, TransportSpec}
            {node_3, "localhost", 8950, 1, tcp},
            {node_4, "localhost", 8951, 1, tcp}
        ]}
    
    ]}

].
