%%%===================================================================
%%% ErlGate - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, DispatcherModule, DispatcherOptions}
            {8950, erlgate_test_dispatcher, []},
            {8951, erlgate_test_dispatcher_2, []}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, RemotePort, ConnectionNum}
            {node_1, "localhost", 8900, 1},
            {node_2, "localhost", 8901, 1},
            {node_with_option, "localhost", 8902, 1},
            {node_error, "localhost", 8999, 1}
        ]}
    
    ]}

].
