%%%===================================================================
%%% ErlGate - TEST CONFIGURATION FILE
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, ChannelPassword, DispatcherModule, DispatcherOptions, TransportSpec}
            {8950, "pass-for-8950", erlgate_test_dispatcher, [], tcp},
            {8951, "pass-for-8951", erlgate_test_dispatcher_2, [], tcp}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ChannelPassword, ConnectionNum, TransportSpec}
            {node_1, "localhost", 8900, "pass-for-8900", 1, tcp},
            {node_2, "localhost", 8901, "pass-for-8901", 1, tcp},
            {node_with_option, "localhost", 8902, "pass-for-8902", 1, tcp},
            {node_error, "localhost", 8999, "pass-for-8999", 1, tcp}
        ]}
    
    ]}

].
