%%%===================================================================
%%% ErlGate - Configuration file
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, ChannelPassword, DispatcherModule, DispatcherOptions, TransportSpec}
            {8989, "pass-for-8989", erlgate_test_dispatcher, [], tcp},
            {9100, "pass-for-ssl-9100", erlgate_test_dispatcher, [], {ssl, [
                {certfile, "channel-in.crt"},
                {keyfile, "channel-in.key"}
            ]}}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ChannelPassword, ConnectionNum, TransportSpec}
            {node_1, "localhost", 8991, "pass-for-8991", 1, tcp},
            {node_ssl, "localhost", 9100, "pass-for-ssl-9100", 1, {ssl, []}}
        ]}
    
    ]}

].
