%%%===================================================================
%%% ErlGate - Configuration file
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, DispatcherModule, DispatcherOptions, TransportSpec}
            {8989, erlgate_test_dispatcher, [], tcp},
            {8990, erlgate_test2_dispatcher, [], tcp}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ConnectionNum, TransportSpec}
            {node_1, "localhost", 8991, 1, tcp},
            {node_2, "localhost", 8992, 1, tcp}
        ]}
    
    ]}

].
