%%%===================================================================
%%% ErlGate - Configuration file
%%%===================================================================

[
    
    {erlgate, [
        
        %% Incoming messages to node
        {channels_in, [
            %% {ListenerPort, ChannelPassword, DispatcherModule, DispatcherOptions, TransportSpec}
            {8989, "pass-for-8989", erlgate_test_dispatcher, [], tcp},
            {8990, "pass-for-8990", erlgate_test2_dispatcher, [], tcp}
        ]},
        
        %% Outgoing messages to nodes
        {channels_out, [
            %% {Ref, Host, Port, ChannelPassword, ConnectionNum, TransportSpec}
            {node_1, "localhost", 8991, "pass-for-8991", 1, tcp},
            {node_2, "localhost", 8992, "pass-for-8992", 1, tcp}
        ]}
    
    ]}

].
